{% extends 'base.html.twig' %}

{% block title %}Consultant | Validation{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<div class="container">
    <h1 class="text-center mt-5">Liste des annonces</h1>
    
    <button class="btn btn-outline-primary">
        <a href="{{ path('app_consultant_workingpage')}}" title="Accueil espace Consultant">
            <i class="fa-solid fa-angle-left"></i>
        </a>
    </button>
   <section class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for joboffer in joboffers %}
            <div class="container d-flex justify-content-center">
                <div class="card mb-3" style="width: 20rem;">
                    <h5 class="card-header text-center">{{ joboffer.Id }} - {{ joboffer.jobTitle | capitalize}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ joboffer.description | capitalize}}</p>
                        <p class="card-text">{{ joboffer.salary }} €/mois</p>
                        <p class="card-text">{{ joboffer.schedule }} heures/semaine</p>
                        <p class="card-subtitle mb-2 text-muted">{{ joboffer.workplace | capitalize}}</p>
                        {% if joboffer.isValid == false %}
                            <p class="invalidMsg">Annonce non validée</p>
                        {% elseif joboffer.isValid == true %}
                            <p class="validMsg">Annonce validée</p>
                        {% endif %}
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <button class="btn btn-outline-primary my-2">
                            <a href="{{ path('app_consultant_workingpage_validation_joboffer', {'id': joboffer.Id }) }}">Valider l'annonce</a>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
