{% extends 'base.html.twig' %}

{% block title %}Consultant | Validation{% endblock %}

{% block body %}
{{ include('_navbar.html.twig') }}

<div class="container">
    <h1 class="text-center mt-5">Liste des comptes recruteurs</h1>
    
    <button class="btn btn-outline-primary">
        <a href="{{ path('app_consultant_workingpage')}}" title="Accueil espace Consultant">
            <i class="fa-solid fa-angle-left"></i>
        </a>
    </button>
    <section class="mt-5">
        {# <h2>Liste des comptes recruteur</h2> #}
        <div class="my-3 mx-5">	
        {% for recruiter in recruiters %}
            {# Id : {{ recruiter.Id }}
            <br> #}
            Nom : {{ recruiter.lastname | capitalize }}
            <br>
            Prénom : {{ recruiter.firstname | capitalize }}
            <br>
            Email : {{ recruiter.email }}
            <br>
            Nom de l'entreprise : {{ recruiter.companyName | capitalize  }}
            <br>
            Adresse de l'entreprise : {{ recruiter.companyAddress | capitalize  }}
            <br>

            {% if recruiter.isValid == false %}
                Statut : <span class="invalidMsg">A valider</span>
            {% else %}
                Statut : <span class="validMsg">Validé</span>
            {% endif %}
            <br>

            <button class="btn btn-outline-primary mt-2 mb-5">
                <a href="{{ path('app_consultant_workingpage_validation_recruiter', {'id': recruiter.Id }) }}">Valider le compte</a>
            </button>
            <br>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
